<div class="billboard{{#each billboard.modifiers}}-{{.}}{{/each}}">
    <div class="billboard_wrapper{{#is layout 'base-wide.hbs'}}-wide{{/is}}">

        <a href="https://github.com/esr360/One-Nexus/wiki" target="blank" class="billboard_cta">
            View on Github
        </a>

        {{#if billboard.heading}}
            <div class="heading_group">
                {{{billboard.heading}}}
                {{{billboard.subHeading}}}
            </div>
        {{/if}}

        {{#if billboard.resource}}
            <div class="billboard_resource">
                <a href="{{billboard.resource.link}}" target="blank">
                    <i class="fa fa-{{billboard.resource.icon}}"></i> {{billboard.resource.text}}
                </a>
            </div>
        {{/if}}

    </div>
</div>