---
layout: core.hbs
wide: false
demo: true
header:
    modifiers:
    - fixed
    - hidden
    - dark
scripts:
    - assets/scripts/jquery.stellar.js
---

{{> header}}

<div class="homepage_wrapper">

    <div class="spacestation">

        <div class="spacestation_content" data-stellar-ratio="0.2">
            <div class="logo">
                <img src="{{assets}}assets/images/logo-light.png" alt="One Nexus Logo">
            </div>
            <h2 class="spacestation_tagline heading-light-uppercase-size-2">
                A UI Toolkit From Out of This World
            </h2>
        </div>

        <div class="spacestation_layer-stars1"></div>
        <div class="spacestation_layer-stars2"></div>
        <img src="{{assets}}assets/images/spacestation/layer3.svg" data-stellar-ratio="0.05" class="spacestation_layer-planets" />
        <img src="{{assets}}assets/images/spacestation/layer6.svg" class="spacestation_layer-rocket" />
        <img src="{{assets}}assets/images/spacestation/layer4.svg" data-stellar-ratio="0.1" class="spacestation_layer-sun" />
        <img src="{{assets}}assets/images/spacestation/layer5.svg" data-stellar-ratio="0.2" class="spacestation_layer-mountain" />
        <img src="{{assets}}assets/images/spacestation/layer7.svg" data-stellar-ratio="0.25" class="spacestation_layer-beacon" />
        <img src="{{assets}}assets/images/spacestation/layer8.svg" data-stellar-ratio="0.3" class="spacestation_layer-greenland" />
        <img src="{{assets}}assets/images/spacestation/layer9.svg" data-stellar-ratio="0.35" class="spacestation_layer-stardust1" />
        <img src="{{assets}}assets/images/spacestation/layer10.svg" data-stellar-ratio="0.5" class="spacestation_layer-stardust2" />
        <img src="{{assets}}assets/images/spacestation/layer11.svg" data-stellar-ratio="0.55" class="spacestation_layer-ufo" />
        <img src="{{assets}}assets/images/spacestation/layer12.svg" data-stellar-ratio="0.85" class="spacestation_layer-foreground" />
        <img src="{{assets}}assets/images/spacestation/layer13.svg" data-stellar-ratio="1.5" class="spacestation_layer-stardust3" />

    </div>

    <div class="homepage_content">

        <div class="homepage_section1">
            
            <img src="{{assets}}assets/images/mountain.svg" class="homepage_section1_graphic" />

            <div class="container">
                <div class="row">
                    <div class="span-8">
                        <h3 class="heading-size-6">What is One-Nexus?</h3>
                        <p>One-Nexus is a UI toolkit built using the <a href="#">Synergy</a> Sass framework, combined with a custom grid system; <a href="#">Kayzen-GS</a>. Together they form a powerful framework for building responsive websites with a modular and configurable UI. Build upon the default modules and create your own with ease</p>
                        <p class="button_group">
                            <button class="button-border-white-size-3">Get One-Nexus</button>
                            <span class="button_group_item">or</span> <a href="#">Learn More</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="homepage_section2">

            <div class="well-deep container homepage_section2_banner">
                <h4 class="heading-size-4-brand-1 object-small">Lorem Ipsum Dolor Sit</h4>
                <p class="object-small">One-Nexus is a UI toolkit built using the Synergy Sass framework, combined with a custom grid system; Kayzen-GS.</p>
            </div>
            
            <div class="container text-center">
                <div class="heading_group">
                    <h3 class="heading-light-size-8 font-2">Why Choose One-Nexus?</h3>
                    <p class="homepage_section2_subHeading">With so many frameworks and libraries out there, what makes One-Nexus different?
                </div>

                <div class="row-block object-large">
                    <div class="span-4 homepage_section2_block">
                        <h4 class="heading-size-3 object-small">Custom Grid System</h4>
                        <p class="object-small">One-Nexus uses <a href="#">Kayzen-GS</a>, a powerful grid system custom built for One-Nexus.
                    </div>
                    <div class="span-4 homepage_section2_block">
                        <h4 class="heading-size-3 object-small">Unique Modules</h4>
                        <p class="object-small">Built using <a href="#">Synergy</a>, One-Nexus offers a unique approach for building modules.
                    </div>
                    <div class="span-4 homepage_section2_block">
                        <h4 class="heading-size-3 object-small">Powerful Theming</h4>
                        <p class="object-small">Create multiple themes by passing different configuration data to modules.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>