---
layout: core.hbs
bodyClass: index
header:
    modifiers:
    - fixed
    - sticky
    - dark
scripts:
    - <%=assets%>assets/themes/<%=theme%>/app
    - <%=assets%>assets/scripts/LivIconsEvo.Tools
    - <%=assets%>assets/scripts/LivIconsEvo.defaults
    - <%=assets%>assets/scripts/LivIconsEvo
Prism:
    version: 1.6.0
---

<!-- Parallax layers -->
<div class="spacestation_layer-stars1"></div>
<img src="{{assets}}assets/images/spacestation/layer3.svg" class="spacestation_planets" />
<img src="{{assets}}assets/images/spacestation/layer6.svg" class="spacestation_layer-rocket" />

<!-- Simulated Document Body -->
<div class="homepage_wrapper">

    <div class="spacestation">
        <div class="spacestation_content">
            <div class="logo">
                <img src="{{assets}}assets/images/logo-light.png" alt="One Nexus Logo">
            </div>
            <h2 class="spacestation_tagline heading-light-uppercase-size-2">
                A UI Toolkit From Out Of This World
            </h2>
        </div>

        <img src="{{assets}}assets/images/spacestation/layer4.svg" class="spacestation_layer-sun" />

        <img src="{{assets}}assets/images/spacestation/layer5.svg" class="spacestation_layer-mountain" />

        <img src="{{assets}}assets/images/spacestation/layer7.svg" class="spacestation_layer-beacon" />

        <img src="{{assets}}assets/images/spacestation/layer8.svg" class="spacestation_layer-greenland" />

        <img src="{{assets}}assets/images/spacestation/layer9.svg" class="spacestation_layer-stardust1" />

        <img src="{{assets}}assets/images/spacestation/layer10.svg" class="spacestation_layer-stardust2" />

        <img src="{{assets}}assets/images/spacestation/layer11.svg" class="spacestation_layer-ufo" />

        <img src="{{assets}}assets/images/spacestation/layer12.svg" class="spacestation_layer-foreground" />

        <img src="{{assets}}assets/images/spacestation/layer13.svg" class="spacestation_layer-stardust3" />
    </div>

    <div class="homepage_content">
        <div class="homepage_section-intro">
            <div class="container">
                <div class="row">
                    <div class="span-8">
                        <h3 class="heading-size-6">What is One-Nexus?</h3>

                        <p>One-Nexus is a front-end boilerplate and UI toolkit built using the <a href="https://github.com/esr360/Synergy" target="blank">Synergy</a> framework, combined with a custom grid system; <a href="https://github.com/esr360/Kayzen-GS" target="blank">Kayzen-GS</a>. Together they form a powerful framework for building responsive websites with modular and configurable components.</p>

                        <p class="button_group">
                            <a href="https://github.com/esr360/One-Nexus/wiki/Getting-Started" target="blank" class="button-border-white-size-3">Get One-Nexus</a>
                            <span class="button_group_item">or</span> <a href="#section-brand">Learn More</a>
                        </p>
                    </div>
                </div>
            </div>
        </div> 

        <div class="homepage_section-brand" id="section-brand">

            <div class="homepage_introBox well-deep-box container">
                <h4 class="heading-size-4-brand-1 object-small">Free & Open-Source<span class="min-break-1"> - Hosted on Github</span></h4>
                <i class="fa fa-github-alt"></i>
                <p class="object-small">One-Nexus is open-source, built using open-source tools. All bugs, issues and feature requests are <a href="https://github.com/esr360/One-Nexus" target="blank">handled on Github</a>.</p>
            </div>
            
            <div class="container text-center">
                <div class="heading_group">
                    <h3 class="heading-light-size-8 font-2">Why Choose One-Nexus?</h3>
                    <p>With so many frameworks and libraries out there, what makes One-Nexus different?</p>
                </div>

                <div class="row-block object-large">
                    <div class="brandBlock-brand2 span-4">
                        {{> livicon options="
                            name: responsive.svg;
                            eventOn: parent;
                            size: 130px; 
                            style: lines;
                            tryToSharpen: true;
                            colorsOnHover: custom;
                            strokeColorAction: white;
                            strokeColor: #007b93;
                        "}}
                        <h4 class="heading-size-3 object-small">Custom Grid System</h4>
                        <p class="object-small">One-Nexus uses <a href="https://github.com/esr360/Kayzen-GS" target="blank">Kayzen-GS</a>, a powerful grid system custom built for One-Nexus.
                    </div>
                    <div class="brandBlock-brand3 span-4">
                        {{> livicon options="
                            name: share.svg;
                            eventOn: parent;
                            size: 130px; 
                            style: lines;
                            tryToSharpen: true;
                            colorsOnHover: custom;
                            strokeColorAction: white;
                            strokeColor: #008277;
                        "}}
                        <h4 class="heading-size-3 object-small">Unique Modules</h4>
                        <p class="object-small">Built using <a href="https://github.com/esr360/Synergy" target="blank">Synergy</a>, One-Nexus offers a unique approach for building modules.
                    </div>
                    <div class="brandBlock-brand1 span-4">
                        {{> livicon options="
                            name: rocket.svg;
                            eventOn: parent;
                            size: 130px; 
                            style: lines;
                            tryToSharpen: true;
                            colorsOnHover: custom;
                            strokeColorAction: white;
                            strokeColor: #161d51;
                        "}}
                        <h4 class="heading-size-3 object-small">Powerful Theming</h4>
                        <p class="object-small">Create multiple themes by passing different configuration data to modules.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="homepage_section-overview container">

            <div class="heading_group text-center object-large">
                <h3 class="heading-light-size-8-grey-5 font-2">Quick & Easy to Use</h3>
                <p>Getting started can be as simple as including a single <code>.js</code> and <code>.css</code> file on your page</p>
            </div>

            <div class="homepage_overviewBox object">
                <a href="https://github.com/esr360/One-Nexus/archive/master.zip" target="blank" class="button-border-size-4 min-break-2"><i class="fa fa-download"></i>&nbsp; Download</a>
                <span class="button_group_item min-break-2">or</span>
                <a href="https://github.com/esr360/One-Nexus/" target="blank" class="button-border-size-4">
                    <span class=" min-break-1"><i class="fa fa-github-alt"></i>&nbsp;</span> View on Github
                </a>
            </div>

            <div class="row row-breathe">
                <div class="span-4">
                    <div class="well-opaque-thumb homepage_webTool">
                        <img src="{{assets}}assets/images/html5-logo.svg" class="html5-logo" alt="HTML5" />
                    </div>
                    <p>One-Nexus requires only plain old HTML5, leaving you to handle templates however you want - just load the required assets.</p>
                </div>
                <div class="span-4">
                    <div class="well-opaque-thumb homepage_webTool">
                        <img src="{{assets}}assets/images/sass-logo.svg" class="sass-logo" alt="Sass" />
                    </div>
                    <p>Styles are compiled from <code>.scss</code> files - One-Nexus comes with a bunch of useful Sass tools and mixins (requires Sass 3.4+).</p>
                </div>
                <div class="span-4">
                    <div class="well-opaque-thumb homepage_webTool">
                        <img src="{{assets}}assets/images/babel-logo.svg" class="babel-logo" alt="j-Query" />
                    </div>
                    <p>The JavaScript for One-Nexs is written using the latest ES6 syntax and is transpiled using Babel for use with browsers.</p>
                </div>
            </div>

            <div class="homepage_desktop min-break-3">
                <iframe src="{{assets}}basic-html.html"></iframe>
                <img src="{{assets}}assets/images/desktop-screen.png" class="" />
            </div>

        </div>

        <div class="homepage_section-cards">
            
            <img id="UiComponentsForeground" src="{{assets}}assets/images/foreground.svg" class="homepage_section_foreground" />

            <div id="UiComponentsContainer" class="container">

                <div class="heading_group object-large text-center">
                    <h3 class="heading-light-size-8 font-2">UI Components</h3>
                    <p>One Nexus comes with 39 premade modules with thousdands of unique combinations</p>
                </div>

                <div id="UiComponentsPlaceholder" class="row homepage_modules text-center">
                    <div class="span-4 well-opaque-deep">
                        <i class="fa fa-arrow-circle-down fa-3x" aria-hidden="true"></i>
                        <h4 class="heading">View All Components</h4>
                    </div>
                </div>

                <div id="UiComponents" class="homepage_modules text-center owl-carousel hidden">
                    <a target="blank" class="well-opaque-deep-hoverCard" href="https://github.com/esr360/One-Nexus/tree/master/src/modules/elements/accordions">
                        <i class="fa fa-arrow-circle-down fa-3x" aria-hidden="true"></i>
                        <h4 class="heading">Accordions</h4>
                    </a>
                    <a target="blank" class="well-opaque-deep-hoverCard" href="https://github.com/esr360/One-Nexus/tree/master/src/modules/elements/alert-bars">
                        <i class="fa fa-exclamation-triangle fa-3x"></i>
                        <h4 class="heading">Alert Bars</h4>
                    </a>
                    <a target="blank" class="well-opaque-deep-hoverCard" href="https://github.com/esr360/One-Nexus/tree/master/src/modules/elements/blockquotes">
                        <i class="fa fa-quote-left fa-3x" aria-hidden="true"></i>
                        <h4 class="heading">Blockquotes</h4>
                    </a>
                    <a target="blank" class="well-opaque-deep-hoverCard" href="https://github.com/esr360/One-Nexus/tree/master/src/modules/elements/buttons">
                        <i class="fa fa-keyboard-o fa-3x"></i>
                        <h4 class="heading">Buttons</h4>
                    </a>
                    <a target="blank" class="well-opaque-deep-hoverCard" href="https://github.com/esr360/One-Nexus/tree/master/src/modules/elements/carousels">
                        <i class="fa fa-film fa-3x"></i>
                        <h4 class="heading">Carousels</h4>
                    </a>
                    <a target="blank" class="well-opaque-deep-hoverCard" href="https://github.com/esr360/One-Nexus/tree/master/src/modules/elements/forms">
                        <i class="fa fa-file-text-o fa-3x"></i>
                        <h4 class="heading">Forms</h4>
                    </a>
                    <a target="blank" class="well-opaque-deep-hoverCard" href="https://github.com/esr360/One-Nexus/tree/master/src/modules/elements/headings">
                        <i class="fa fa-header fa-3x"></i>
                        <h4 class="heading">Headings</h4>
                    </a>
                    <a target="blank" class="well-opaque-deep-hoverCard" href="https://github.com/esr360/One-Nexus/tree/master/src/modules/elements/images">
                        <i class="fa fa-picture-o fa-3x"></i>
                        <h4 class="heading">Images</h4>
                    </a>
                    <a class="well-opaque-deep-hoverCard" hr target="blank"ef="https://github.com/esr360/One-Nexus/tree/master/src/modules/elements/lists">
                        <i class="fa fa-list fa-3x"></i>
                        <h4 class="heading">Lists</h4>
                    </a>
                    <a target="blank" class="well-opaque-deep-hoverCard" href="https://github.com/esr360/One-Nexus/tree/master/src/modules/elements/modals">
                        <i class="fa fa-window-close-o fa-3x"></i>
                        <h4 class="heading">Modals</h4>
                    </a>
                    <a target="blank" class="well-opaque-deep-hoverCard" href="https://github.com/esr360/One-Nexus/tree/master/src/modules/elements/progress-bars">
                        <i class="fa fa-tasks fa-3x"></i>
                        <h4 class="heading">Progress Bars</h4>
                    </a>
                    <a target="blank" class="well-opaque-deep-hoverCard" href="https://github.com/esr360/One-Nexus/tree/master/src/modules/elements/tables">
                        <i class="fa fa-table fa-3x"></i>
                        <h4 class="heading">Tables</h4>
                    </a>
                    <a target="blank" class="well-opaque-deep-hoverCard" href="https://github.com/esr360/One-Nexus/tree/master/src/modules/elements/tabs">
                        <i class="fa fa-folder-o fa-3x"></i>
                        <h4 class="heading">Tabs</h4>
                    </a>
                    <a target="blank" class="well-opaque-deep-hoverCard" href="https://github.com/esr360/One-Nexus/tree/master/src/modules/elements/tooltips">
                        <i class="fa fa-comment-o fa-3x"></i>
                        <h4 class="heading">Tooltips</h4>
                    </a>
                    <a target="blank" class="well-opaque-deep-hoverCard" href="https://github.com/esr360/One-Nexus/tree/master/src/modules/elements/wells">
                        <i class="fa fa-square-o fa-3x"></i>
                        <h4 class="heading">Wells</h4>
                    </a>
                    <a target="blank" class="well-opaque-deep-hoverCard" href="https://github.com/esr360/One-Nexus/wiki/UI-Modules">
                        <i class="fa fa-globe fa-3x"></i>
                        <h4 class="heading">View All</h4>
                    </a>
                </div>

            </div>

            <div class="homepage_section_carouselNav">
                <div id="UiComponentsPrev" class="homepage_section_carouselNav_item-prev fa fa-angle-left"></div>
                <div id="UiComponentsNext" class="homepage_section_carouselNav_item-next fa fa-angle-right"></div>
            </div>

            <div class="container homepage_section_box_wrapper">
                <div class="row">
                    <div class="homepage_section_box span-4">
                        <div class="homepage_section_box_heading">
                            <h3 class="heading-size-3-flush">Built With Synergy</h3>
                            <a 
                                class="github-button" 
                                href="https://github.com/esr360/Synergy" 
                                data-icon="octicon-star"
                                data-count-href="/esr360/Synergy/stargazers" 
                                data-count-api="/repos/esr360/Synergy#stargazers_count" 
                                data-count-aria-label="# stargazers on GitHub" 
                                aria-label="Star esr360/Synergy on GitHub"
                            >Star</a>
                        </div>
                        <p>Each One-Nexus component is a configurable module built using <a target="blank" href="https://github.com/esr360/Synergy">Synergy</a>.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="homepage_section-codeSample">

            <img src="{{assets}}assets/images/mountain.svg" id="parallax_mountain-1"  class="homepage_section_mountain" />

            <div class="container">

                <div class="heading_group object-large text-center">
                    <h3 class="heading-light-size-8-grey-5 font-2">Creating a Module</h3>
                    <p>See the below stripped examples to see just what's possible with One-Nexus/Synergy</p>
                </div>

                <div class="tabs">

                    <ul class="tabs_nav-full-topLine object-center text-center">
                        <li class="tabs_nav_item">Utility</li>
                        <li class="tabs_nav_item tabs_nav_item-active">Element</li>
                        <li class="tabs_nav_item">Object</li>
                    </ul>

                    <div class="row reverse-break-3 row-breathe tabs tabs_item">

                        <div class="span-8">
                            <div class="tabs_item tabs_item-active">
                                <div class="alert-bar-brand-gradient">File Structure</div>

                                <pre class="border"><code class="language-html">
                                    |-- modules
                                    |   |-- utilities
                                    |   |   |-- colors
                                    |   |   |   |-- _colors.scss
                                    |   |   |   |-- colors.js
                                    |   |   |   |-- colors.json
                                    |-- themes
                                    |   |-- one-nexus
                                    |   |   |-- one-nexus.scss
                                    |   |   |-- one-nexus.js
                                    |   |   |-- one-nexus.json
                                    |-- _app.scss
                                    |-- app.js
                                </code></pre>
                            </div><!--/ .tabs_item -->

                            <div class="tabs_item">
                                <div class="alert-bar-error">/modules/utilities/colors/<b>colors.json</b></div>

                                <pre class="border"><code class="language-js">
                                    {
                                        "colors": {
                                            "brand": {
                                                "brand-1": "#2E3882",
                                                "brand-2": "#06d2ff",
                                                "brand-3": "#04CEC0"
                                            },
                                            "greyscale":{
                                                "grey-1": "#F4F4F4",
                                                "grey-2": "#F5BA42",
                                                "grey-3": "#444444"
                                            },
                                            "alert":{
                                                "error": "#D9434E",
                                                "help": "#F5BA42",
                                                "info": "#4B8CDC",
                                                "success": "#3BB85D"
                                            },
                                            "validation":{
                                                "valid": "#00B16A",
                                                "invalid": "#D91E18"	
                                            }
                                        }
                                    }
                                </code></pre>
                            </div><!--/ .tabs_item -->

                            <div class="tabs_item">
                                <div class="alert-bar-info">/modules/utilities/colors/<b>_colors.scss</b></div>

                                <pre class="border"><code class="language-scss">
                                    // path is relative to '/themes/one-nexus/'
                                    @import '../../modules/utilities/colors/colors.json';

                                    @mixin colors($custom: custom('colors')) {
                                        $colors: config($colors, $custom) !global;
                                    }

                                    // Function to get desired color palette
                                    @function palette($palette) {
                                        @return map-get($colors, $palette);
                                    }

                                    // Function to get desired color from specific palette
                                    @function color($palette, $color) {
                                        @return map-get(palette($palette), $color);
                                    }
                                </code></pre>
                            </div><!--/ .tabs_item -->

                            <div class="tabs_item">
                                <div class="alert-bar-success">/modules/utilities/colors/<b>colors.js</b></div>

                                <pre class="border"><code class="language-js">
                                    import * as app from '../../../app';
                                    import defaults from './colors.json';

                                    export function colors(custom) {
                                        app.config.colors = app.parse(defaults.colors, app.custom('colors', custom));
                                    }
                                </code></pre>
                            </div><!--/ .tabs_item -->

                            <div class="tabs_item">
                                <div class="alert-bar-info">/<b>_app.scss</b></div>

                                <pre class="border"><code class="language-scss">
                                    @import '../node_modules/Synergy/dist/synergy';

                                    @import 'modules/utilities/colors/colors';
                                </code></pre>

                                <div class="alert-bar-success">/<b>app.js</b></div>

                                <pre class="border"><code class="language-js">
                                    import * as app from './app';
                                    import Synergy from 'Synergy';

                                    import { colors } from './modules/utilities/colors/colors';

                                    export { colors };
                                </code></pre>
                            </div><!--/ .tabs_item -->

                            <div class="tabs_item">
                                <div class="alert-bar-info">/themes/one-nexus/<b>one-nexus.scss</b></div>

                                <pre class="border"><code class="language-scss">
                                    @import '../../app';
                                    @import './config.json';

                                    @include colors;
                                </code></pre>

                                <div class="alert-bar-success">/themes/one-nexus/<b>one-nexus.js</b></div>

                                <pre class="border"><code class="language-js">
                                    import * as app from '../../app';
                                    import config from './config.json';

                                    app.theme  = config.app;

                                    app.colors();
                                </code></pre>
                            </div><!--/ .tabs_item -->

                            <div class="tabs_item">
                                <div class="alert-bar-error">/themes/one-nexus/<b>one-nexus.json</b></div>

                                <pre class="border"><code class="language-js">
                                {
                                    "app": {
                                        "colors": {
                                            "brand": {
                                                "brand-1": "#D32AED",
                                                "brand-4": "#1FE0BD"
                                            },
                                            "alert":{
                                                "error": "#FF0000",
                                                "neutral": "#544E68"
                                            }
                                        }
                                    }
                                </code></pre>
                            </div>

                            <div class="tabs_item">
                                <div class="alert-bar-info"><b>Sass</b></div>

                                <pre class="border"><code class="language-scss">
                                    @include module('testObject') {
                                        background-color: color('brand', 'brand-1');
                                        border: 1px solid color('brand', 'brand-4');

                                        @include modifier('neutral') {
                                            background-color: color('alert', 'neutral');
                                        }
                                    }
                                </code></pre>

                                <div class="alert-bar-success"><b>JavaScript</b></div>

                                <pre class="border"><code class="language-js">
                                    app.Synergy('testObject', function(el) {
                                        el.style.backgroundColor = app.config.colors.brand['brand-1'];
                                        el.style.border = app.config.colors.brand['brand-4'];

                                        if (el.modifier('neutral')) {
                                            el.style.backgroundColor = app.config.colors.alert.neutral;
                                        }
                                    });
                                </code></pre>
                            </div><!--/ .tabs_item -->
                        </div>

                        <div class="span-4">
                            <ul class="tabs_nav list-arrow-interactive">
                                <li class="undefined-active">File Structure</li>
                                <li>Default Confguration</li>
                                <li>Module Sass</li>
                                <li>Module JavaScript</li>
                                <li>Import Module</li>
                                <li>Include Module</li>
                                <li>Customize</li>
                                <li>Usage</li>
                            </ul>
                            <hr class="hrule-line min-break-3" />
                            <div class="min-break-3">
                                <a href="https://github.com/esr360/Synergy/wiki" target="blank" class="button-block-brand-3">View Full Docs</a>
                                <p><small><i>One-Nexus comes with a bunch of premade modules just like the example shown here!</i> <a href="modules/">View modules</a></small></p>
                            </div>
                        </div>

                    </div><!--/ .tabs_item -->

                    <div class="row reverse-break-3 row-breathe tabs tabs_item tabs_item-active">
                        <div class="span-8">
                            <div class="tabs_item tabs_item-active">
                                <div class="alert-bar-brand-gradient">File Structure</div>

                                <pre class="border"><code class="language-html">
                                    |-- modules
                                    |   |-- elements
                                    |   |   |-- buttons
                                    |   |   |   |-- _buttons.scss
                                    |   |   |   |-- buttons.js
                                    |   |   |   |-- buttons.json
                                    |   |-- utilities
                                    |   |   |-- colors
                                    |-- themes
                                    |   |-- one-nexus
                                    |   |   |-- one-nexus.scss
                                    |   |   |-- one-nexus.js
                                    |   |   |-- one-nexus.json
                                    |-- _app.scss
                                    |-- app.js
                                </code></pre>
                            </div><!--/ .tabs_item -->

                            <div class="tabs_item">
                                <div class="alert-bar-error">/modules/elements/buttons/<b>buttons.json</b></div>

                                <pre class="border"><code class="language-js">
                                {
                                    "buttons": {
                                        "name": "button",
                                        "color": "white",
                                        "background": ["#COLOR", "greyscale", "grey-3"],
                                        "padding": "0.65em 1em",
                                        "line-height": "1",
                                        "colors": {
                                            "brand-2": ["#COLOR", "brand", "brand-2"],
                                            "error": ["#COLOR", "alert", "error"]
                                        },
                                        "sizes": {
                                            "small": "0.85em",
                                            "large": "1.25em"
                                        },
                                        "active": {
                                            "background": ["#COLOR", "brand", "brand-1"],
                                            "color": "white"
                                        }
                                    }
                                }
                                </code></pre>
                            </div><!--/ .tabs_item -->

                            <div class="tabs_item">

                                <div class="alert-bar-info">/modules/elements/buttons/<b>_buttons.scss</b></div>

                                <pre class="border"><code class="language-scss">
                                    // path is relative to '/themes/one-nexus/'
                                    @import '../../modules/elements/buttons/buttons.json';

                                    @mixin buttons($custom: custom('buttons')) {

                                        // Configuration
                                        $buttons: config($buttons, $custom);

                                        @include module {
                                            display: inline-block;

                                            // Colors
                                            @each $key, $value in this('colors') {
                                                @include modifier($key) {
                                                    background-color: $value;
                                                }
                                            }

                                            // Sizes
                                            @each $key, $value in this('sizes') {
                                                @include modifier($key) {
                                                    font-size: $value;
                                                }
                                            }
                                        }

                                    }
                                </code></pre>

                            </div><!--/ .tabs_item -->

                            <div class="tabs_item">
                                <div class="alert-bar-info">/<b>_app.scss</b></div>

                                <pre class="border"><code class="language-scss">
                                    @import '../node_modules/Synergy/dist/synergy';

                                    // Utilities
                                    @import 'modules/utilities/colors/colors';

                                    // Elements
                                    @import 'modules/elements/buttons/buttons';
                                </code></pre>
                            </div><!--/ .tabs_item -->

                            <div class="tabs_item">
                                <div class="alert-bar-info">/themes/one-nexus/<b>_one-nexus.scss</b></div>

                                <pre class="border"><code class="language-scss">
                                    @import '../../app';
                                    @import './config.json';

                                    // Utilities
                                    @include colors;

                                    // Elements
                                    @include buttons;
                                </code></pre>
                            </div><!--/ .tabs_item -->

                            <div class="tabs_item">
                                <div class="alert-bar-error">/themes/one-nexus/<b>one-nexus.json</b></div>

                                <pre class="border"><code class="language-js">
                                {
                                    "app": {
                                        "colors": {
                                            "brand": {
                                                "brand-1": "#D32AED",
                                                "brand-4": "#1FE0BD"
                                            },
                                            "alert":{
                                                "error": "#FF0000",
                                                "neutral": "#544E68"
                                            }
                                        },
                                        "buttons": {
                                            "colors": {
                                                "neutral": ["#COLOR", "alert", "neutral"]
                                            },
                                            "sizes": {
                                                "small": "0.8em",
                                                "xlarge": "1.5em"
                                            }
                                        }
                                    }
                                </code></pre>
                            </div>

                            <div class="tabs_item">
                                <div class="alert-bar-info">/dist/one-nexus/<b>one-nexus.css</b></div>

                                <pre class="border"><code class="language-css">
                                    .button, [class*='button-'] {
                                        display: inline-block;
                                        color: white;
                                        background: #444444;
                                        padding: 0.65em 1em;
                                        line-height: 1;
                                    }
                                    [class*='button-'][class*='-brand-2'] {
                                        background-color: #06d2ff;
                                    }
                                    [class*='button-'][class*='-error'] {
                                        background-color: #FF0000;
                                    }
                                    [class*='button-'][class*='-neutral'] {
                                        background-color: #544E68;
                                    }
                                    [class*='button-'][class*='-small'] {
                                        font-size: 0.8em;
                                    }
                                    [class*='button-'][class*='-large'] {
                                        font-size: 1.25em;
                                    }
                                    [class*='button-'][class*='-xlarge'] {
                                        font-size: 1.5em;
                                    }
                                </code></pre> 
                            </div><!--/ .tabs_item -->

                            <div class="tabs_item">
                                <div class="alert-bar-help">/templates/partials/<b>header.hbs</b></div>

                                <pre class="border"><code class="language-markup">
                                    &lt;button class="button">Button&lt;/button>
                                    &lt;button class="button-brand-2">Button&lt;/button>
                                    &lt;button class="button-xlarge">Button&lt;/button>
                                    &lt;button class="button-brand-2-small">Button&lt;/button>
                                    &lt;button class="button-large-neutral">Button&lt;/button>
                                </code></pre> 
                            </div><!--/ .tabs_item -->
                        </div>

                        <div class="span-4">
                            <ul class="tabs_nav list-arrow-interactive">
                                <li class="undefined-active">File Structure</li>
                                <li>Default Confguration</li>
                                <li>Module Sass</li>
                                <li>Import Module</li>
                                <li>Include Module</li>
                                <li>Customize</li>
                                <li>CSS Output</li>
                                <li>HTML Usage</li>
                            </ul>
                            <hr class="hrule-line min-break-3" />
                            <div class="min-break-3">
                                <a href="https://github.com/esr360/Synergy/wiki" target="blank" class="button-block-brand-3">View Full Docs</a>
                                <p><small><i>One-Nexus comes with a bunch of premade modules just like the example shown here!</i> <a href="modules/">View modules</a></small></p>
                            </div>
                        </div>
                    </div><!--/ .tabs_item -->

                    <div class="row reverse-break-3 row-breathe tabs tabs_item">
                        <div class="span-8">
                            <div class="tabs_item tabs_item-active">
                                <div class="alert-bar-brand-gradient">File Structure</div>

                                <pre class="border"><code class="language-html">
                                    |-- modules
                                    |   |-- elements
                                    |   |   |-- buttons
                                    |   |-- objects
                                    |   |   |-- header
                                    |   |   |   |-- _header.scss
                                    |   |   |   |-- header.js
                                    |   |   |   |-- header.json
                                    |   |-- utilities
                                    |   |   |-- colors
                                    |-- themes
                                    |   |-- one-nexus
                                    |   |   |-- one-nexus.scss
                                    |   |   |-- one-nexus.js
                                    |   |   |-- one-nexus.json
                                    |-- _app.scss
                                    |-- app.js
                                </code></pre>
                            </div><!--/ .tabs_item -->

                            <div class="tabs_item">
                                <div class="alert-bar-error">/modules/objects/header/<b>header.json</b></div>

                                <pre class="border"><code class="language-js">
                                {
                                    "header": {
                                        "name": "header",
                                        "background": ["#COLOR", "brand", "brand-1"],
                                        "height": "100px",
                                        "text-color": ["#COLOR", "greyscale", "grey-1"],
                                        "link-color": "white",
                                        "logo": {
                                            "image-path": "../../images/logo.png",
                                            "height": "50px",
                                            "width": "200px",
                                            "padding": "20px 0"
                                        },
                                        "dark": {
                                            "enabled": false,
                                            "background": ["#COLOR", "greyscale", "grey-3"],
                                            "text-color": ["#COLOR", "greyscale", "grey-1"],
                                            "link-color": ["#COLOR", "brand", "brand-1"]
                                        },
                                        "sticky": {
                                            "enabled": false,
                                            "offset": 0
                                        }
                                    }
                                }
                                </code></pre>
                            </div><!--/ .tabs_item -->

                            <div class="tabs_item">
                                <div class="alert-bar-info">/modules/objects/header/<b>_header.scss</b></div>

                                <pre class="border"><code class="language-scss">
                                    // path is relative to '/themes/one-nexus/'
                                    @import '../../modules/objects/header/header.json';

                                    @mixin header($custom: custom('header')) {

                                        // Configuration
                                        $header: config($header, $custom);

                                        @include module {

                                            color: this('text-color');

                                            a {
                                                color: this('link-color');
                                            }

                                            @include component('logo') {
                                                background-image: url(this('logo', 'image-path'));
                                                background-size: cover;
                                                display: inline-block;
                                                vertical-align: middle;
                                            }

                                            @include modifier('fixed') {
                                                position: fixed;
                                                width: 100%;
                                                top: 0;
                                            }

                                            @include option('dark') {
                                                color: this('dark', 'text-color');

                                                a {
                                                    color: this('dark', 'link-color');
                                                }
                                            }

                                        }

                                    }
                                </code></pre>
                            </div><!--/ .tabs_item -->

                            <div class="tabs_item">
                                <div class="alert-bar-success">/modules/objects/header/<b>header.js</b></div>

                                <pre class="border"><code class="language-js">
                                    import * as app from '../../../app';
                                    import defaults from './header.json';

                                    export function header(custom = {}) {

                                        custom = app.custom('header', custom);

                                        app.Synergy('header', (header, options) => {

                                            const stickyOffset = options.sticky.offset || header.offsetTop;
                                            const logo = header.component('logo')[0];

                                            if (options.sticky.enabled || header.modifier('sticky')) {
                                                window.addEventListener('load', stickyHeaderHandler);
                                                window.addEventListener('scroll', stickyHeaderHandler);
                                            }

                                            function stickyHeaderHandler() {
                                                const operator = (window.scrollY > stickyOffset) ? 'set' : 'unset';

                                                header.modifier('fixed', operator);
                                                logo.modifier('small', operator);
                                            }

                                        }, defaults, custom);

                                    }
                                </code></pre>
                            </div><!--/ .tabs_item -->

                            <div class="tabs_item">
                                <div class="alert-bar-info">/<b>_app.scss</b></div>

                                <pre class="border"><code class="language-scss">
                                    // Import Synergy
                                    @import '../node_modules/Synergy/dist/synergy';

                                    // Utilities
                                    @import 'modules/utilities/colors/colors';

                                    // Elements
                                    @import 'modules/elements/buttons/buttons';

                                    // Objects
                                    @import 'modules/objects/header/header';
                                </code></pre>

                                <div class="alert-bar-success">/<b>app.js</b></div>

                                <pre class="border"><code class="language-js">
                                    import * as app from './app';
                                    import Synergy from 'Synergy';

                                    // Utilities
                                    import { colors } from './modules/utilities/colors/colors';

                                    // Objects
                                    import { header } from './modules/objects/header/header';

                                    export { colors, header };
                                </code></pre>
                            </div><!--/ .tabs_item -->

                            <div class="tabs_item">
                                <div class="alert-bar-info">/themes/one-nexus/<b>one-nexus.scss</b></div>

                                <pre class="border"><code class="language-scss">
                                    @import '../../app';
                                    @import './config.json';

                                    // Utilities
                                    @include colors;

                                    // Elements
                                    @include buttons;

                                    // Objects
                                    @include header;
                                </code></pre>

                                <div class="alert-bar-success">/themes/one-nexus/<b>one-nexus.js</b></div>

                                <pre class="border"><code class="language-js">
                                    import * as app from '../../app';
                                    import config from './config.json';

                                    app.theme  = config.app;

                                    // Utilities
                                    app.colors();

                                    // Objects
                                    app.header();
                                </code></pre>
                            </div><!--/ .tabs_item -->

                            <div class="tabs_item">
                                <div class="alert-bar-error">/themes/one-nexus/<b>one-nexus.json</b></div>

                                <pre class="border"><code class="language-js">
                                {
                                    "app": {
                                        "colors": {
                                            "brand": {
                                                "brand-1": "#D32AED",
                                                "brand-4": "#1FE0BD"
                                            },
                                            "alert":{
                                                "error": "#FF0000",
                                                "neutral": "#544E68"
                                            }
                                        },
                                        "buttons": {
                                            "colors": {
                                                "neutral": ["#COLOR", "alert", "neutral"]
                                            },
                                            "sizes": {
                                                "small": "0.8em",
                                                "xlarge": "1.5em"
                                            }
                                        },
                                        "header": {
                                            "dark": {
                                                "enabled": true,
                                                "background": ["#COLOR", "alert", "neutral"]
                                            }
                                        }
                                    }
                                </code></pre>
                            </div>

                            <div class="tabs_item">
                                <div class="alert-bar-info">/dist/one-nexus/<b>one-nexus.css</b></div>

                                <pre class="border"><code class="language-css">
                                    .header, [class*='header-'] {
                                        background: #544E68;
                                        color: #F4F4F4;
                                        height: 100px;
                                    }
                                    .header a, [class*='header-'] a {
                                        color: #D32AED;
                                    }
                                    .header_logo, [class*='header_logo-'] {
                                        background-image: url('../../images/logo.png');
                                        background-size: cover;
                                        display: inline-block;
                                        vertical-align: middle;
                                        height: 50px;
                                        width: 200px;
                                        padding: 20px 0;
                                    }
                                    [class*='header-'][class*='-fixed'] {
                                        position: fixed;
                                        width: 100%;
                                        top: 0;
                                    }
                                </code></pre>

                            </div><!--/ .tabs_item -->

                            <div class="tabs_item">
                                <div class="alert-bar-help">/templates/partials/<b>header.hbs</b></div>

                                <pre class="border"><code class="language-markup">
                                    &lt;!-- If `options.sticky.enabled` is `true`, header will become fixed
                                    when the top reaches top of the viewport: -->
                                    &lt;header class="header">
                                        ...
                                    &lt;/header>

                                    &lt;!-- Or for a permanently fixed header: -->
                                    &lt;header class="header-fixed">
                                        ...
                                    &lt;/header>
                                </code></pre> 

                            </div><!--/ .tabs_item -->
                        </div>

                        <div class="span-4">
                            <ul class="tabs_nav list-arrow-interactive">
                                <li class="undefined-active">File Structure</li>
                                <li>Default Confguration</li>
                                <li>Module Sass</li>
                                <li>Module JavaScript</li>
                                <li>Import Module</li>
                                <li>Include Module</li>
                                <li>Customize</li>
                                <li>CSS Output</li>
                                <li>HTML usage</li>
                            </ul>
                            <hr class="hrule-line min-break-3" />
                            <div class="min-break-3">
                                <a href="https://github.com/esr360/Synergy/wiki" target="blank" class="button-block-brand-3">View Full Docs</a>
                                <p><small><i>One-Nexus comes with a bunch of premade modules just like the example shown here!</i> <a href="modules/">View modules</a></small></p>
                            </div>
                        </div>
                    </div><!--/ .tabs_item -->

                </div>

            </div>
        </div>

        <div class="homepage_section-features-dotMap">

            <div class="container">
                <div class="heading_group text-center object-large">
                    <h3 class="heading-light-size-8-grey-5 font-2">More Features...</h3>
                    <p>One-Nexus comes with everything you need for your next project</p>
                </div>

                <div class="row-flow text-center">
                    <div class="span-3 break-4-third break-3-half break-1-full">
                        <div class="well-transparent-deep-hoverCard-style-1">
                            {{> livicon options="
                                name: responsive.svg;
                                eventOn: parent;
                                size: 130px; 
                                style: original;
                                tryToSharpen: true;
                            "}}
                            <h4 class="well_title heading-grey-5-light-size-3">Modular-Scale Typography</h4>
                            <p class="well_text">One-Nexus comes with truly responsive typography using modular scale values. <a target="blank" href="https://www.smashingmagazine.com/2016/05/fluid-typography/">Learn More</a>.</p>
                        </div>
                    </div>
                    <div class="span-3 break-4-third break-3-half break-1-full">
                        <div class="well-transparent-deep-hoverCard-style-1">
                            {{> livicon options="
                                name: dashboard.svg;
                                eventOn: parent;
                                size: 130px; 
                                style: original;
                                tryToSharpen: true;
                            "}}
                            <h4 class="well_title heading-grey-5-light-size-3">Optimised Performance</h4>
                            <p class="well_text">One-Nexus encourages best practices with a focus on better performing websites.</p>
                        </div>
                    </div>
                    <div class="span-3 break-4-third break-3-half break-1-full">
                        <div class="well-transparent-deep-hoverCard-style-1">
                            {{> livicon options="
                                name: cloud-download.svg;
                                eventOn: parent;
                                size: 130px; 
                                style: original;
                                tryToSharpen: true;
                            "}}
                            <h4 class="well_title heading-grey-5-light-size-3">Dependencies Via NPM</h4>
                            <p class="well_text">All dependencies are handled via NPM and are included in the <a target="blank" href="https://github.com/esr360/One-Nexus/blob/master/package.json#L26">package.json</a> file.</p>
                        </div>
                    </div>
                    <div class="span-3 break-4-third break-3-half break-1-full">
                        <div class="well-transparent-deep-hoverCard-style-1">
                            {{> livicon options="
                                name: share.svg;
                                eventOn: parent;
                                size: 130px; 
                                style: original;
                                tryToSharpen: true;
                            "}}
                            <h4 class="well_title heading-grey-5-light-size-3">Configurable Modules</h4>
                            <p class="well_text">Built using <a target="blank" href="https://github.com/esr360/Synergy">Synergy</a>, One-Nexus comes with a bunch of configurable UI modules.</p>
                        </div>
                    </div>
                    <div class="span-3 break-4-third break-3-half break-1-full">
                        <div class="well-transparent-deep-hoverCard-style-1">
                            {{> livicon options="
                                name: location-alt.svg;
                                eventOn: parent;
                                size: 130px; 
                                style: original;
                                tryToSharpen: true;
                            "}}
                            <h4 class="well_title heading-grey-5-light-size-3">Google Maps</h4>
                            <p class="well_text">Easily include Google maps and customize them to use your theme's colors. <a target="blank" href="https://github.com/esr360/One-Nexus/tree/master/src/modules/objects/google-map">Learn More</a>.</p>
                        </div>
                    </div>
                    <div class="span-3 break-4-third break-3-half break-1-full">
                        <div class="well-transparent-deep-hoverCard-style-1">
                            {{> livicon options="
                                name: print-image.svg;
                                eventOn: parent;
                                size: 130px; 
                                style: original;
                                tryToSharpen: true;
                            "}}
                            <h4 class="well_title heading-grey-5-light-size-3">Print Stylesheet</h4>
                            <p class="well_text">One-Nexus comes with the HTML5 Boilerplate print stylesheet for printed media. <a target="blank" href="https://git.io/vdPom">Learn More</a>.</p>
                        </div>
                    </div>
                    <div class="span-3 break-4-third break-3-half break-1-full">
                        <div class="well-transparent-deep-hoverCard-style-1">
                            {{> livicon options="
                                name: morph-desktop-smartphone.svg;
                                eventOn: parent;
                                size: 130px; 
                                style: original;
                                tryToSharpen: true;
                            "}}
                            <h4 class="well_title heading-grey-5-light-size-3">Fully Responsive</h4>
                            <p class="well_text">One-Nexus is built using a customizable and fully responsive grid system, <a target="blank" href="https://github.com/esr360/Kayzen-GS/">Kayzen-GS</a>.</p>
                        </div>
                    </div>
                    <div class="span-3 break-4-third break-3-half break-1-full">
                        <div class="well-transparent-deep-hoverCard-style-1">
                            {{> livicon options="
                                name: loader-7.svg;
                                eventOn: parent;
                                size: 130px; 
                                style: original;
                                tryToSharpen: true;
                            "}}
                            <h4 class="well_title heading-grey-5-light-size-3">Talk Between Sass/JS</h4>
                            <p class="well_text">Share configuration data between your module's JavaScript and Sass. <a target="blank" href="https://github.com/esr360/Synergy/wiki/Configuring-a-Module">Learn More</a>.</p>
                        </div>
                    </div>
                    <div class="span-3 break-4-third break-3-half break-1-full">
                        <div class="well-transparent-deep-hoverCard-style-1">
                            {{> livicon options="
                                name: smartphone.svg;
                                eventOn: parent;
                                size: 130px; 
                                style: original;
                                tryToSharpen: true;
                            "}}
                            <h4 class="well_title heading-grey-5-light-size-3">Touch/Swipe Support</h4>
                            <p class="well_text">One-Nexus is touch/swipe ready for touch screen devices for various UI elements such as carousels.</p>
                        </div>
                    </div>
                    <div class="span-3 break-4-third break-3-half break-1-full">
                        <div class="well-transparent-deep-hoverCard-style-1">
                            {{> livicon options="
                                name: notebook.svg;
                                eventOn: parent;
                                size: 130px; 
                                style: original;
                                tryToSharpen: true;
                            "}}
                            <h4 class="well_title heading-grey-5-light-size-3">SassDoc/JSDoc</h4>
                            <p class="well_text">Document your modules using <a target="blank" href="http://sassdoc.com/">SassDoc</a> and <a target="blank" href="http://usejsdoc.org/">JSDoc</a>, using the built in <a target="blank" href="https://github.com/esr360/One-Nexus/wiki/Build-Grunt-Tools">Grunt toools</a>.</p>
                        </div>
                    </div>
                    <div class="span-3 break-4-third break-3-half break-1-full">
                        <div class="well-transparent-deep-hoverCard-style-1">
                            {{> livicon options="
                                name: box-add.svg;
                                eventOn: parent;
                                size: 130px; 
                                style: original;
                                tryToSharpen: true;
                            "}}
                            <h4 class="well_title heading-grey-5-light-size-3">Sass/JS Unit-Testing</h4>
                            <p class="well_text">Unit-test your modules using <a target="blank" href="https://github.com/oddbird/true">Sass True</a> and <a target="blank" href="https://mochajs.org/">Mocha</a>, using the built in <a target="blank" href="https://github.com/esr360/One-Nexus/wiki/Build-Grunt-Tools">Grunt toools</a>.</p>
                        </div>
                    </div>
                    <div class="span-3 break-4-third break-3-half break-1-full">
                        <div class="well-transparent-deep-hoverCard-style-1">
                            {{> livicon options="
                                name: paper-plane.svg;
                                eventOn: parent;
                                size: 130px; 
                                style: original;
                                tryToSharpen: true;
                            "}}
                            <h4 class="well_title heading-grey-5-light-size-3">Automated Build Tools</h4>
                            <p class="well_text">Easily build and compile the various One-Nexus assets using the provided <a target="blank" href="https://github.com/esr360/One-Nexus/wiki/Build-Grunt-Tools">Grunt tools</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>

        <div class="homepage_banner-alpha">

            <div class="container">
                <div class="row">
                    <div class="span-6 va-middle">
                        <h4 class="heading-size-5 object-small">Integrates Into Any Workflow</h4>
                        <h4 class="heading-size-4-brand-4-light object-small">Built For Experts & Beginners of All Levels</h4>
                        <p>One-Nexus can be used with tools you already love and are familiar with. Getting started can be as simple as importing a single <code class="alt">.js</code> and <code class="alt">.css</code> file.</p>
                        <ul class="list-arrow">
                            <li>Watch and compile a single <code class="alt">.scss</code> file</li>
                            <li>Resuable Handlebars templates included</li>
                            <li>Adaptable Gruntfile to build One-Nexus assets included</li>
                        </ul>
                        <div class="button_group">
                            <a href="https://github.com/esr360/One-Nexus/wiki/Getting-Started" target="blank" class="button-brand-4-size-3">Get Started</a>
                            <a href="https://github.com/esr360/One-Nexus/wiki" target="blank" class="button-border-white-size-3">Learn More</a>
                        </div>
                    </div>
                    <div class="span-6 va-middle">
                        <div class="deviceOutline_laptop min-break-3">
                            <div class="deviceOutline_laptop_content"><small id="typed-workflow"></small></div>
                            <img src="{{assets}}assets/images/laptop-outline.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="homepage_section-responsive">

            <div class="container">

                <div class="heading_group object-large text-center">
                    <h3 class="heading-light-size-8-grey-5 font-2">Mobile Optimised</h3>
                    <p class="homepage_section2_subHeading">One-Nexus lets you build websites with a beautiful mobile experience</p>
                </div>

                <div class="homepage_section_wrapper row">
                    <div class="span-6 min-break-3">
                        <div class="homepage_iphone5c_wrapper">
                            <img
                                data-trigger="transform: translate(55%, -50%) translateZ(0) scale(0.85)"
                                data-hover="transform: translate(65%, -50%) translateZ(0) scale(0.85)" 
                                class="homepage_iphone5c"
                                src="{{assets}}assets/images/mobile-preview-2.png" 
                            />
                            <img
                                data-hover="transform: scale(1.05) translateY(-47.5%) translateZ(0)" 
                                class="homepage_iphone5c" 
                                src="{{assets}}assets/images/mobile-preview-1.png" 
                            />
                        </div>
                    </div>
                    <div class="span-5">
                        <div class="object-large">
                            <div class="homepage_section_header">
                                <div class="homepage_section_header_icon">
                                    {{> livicon options="
                                        name: responsive.svg;
                                        eventOn: grandparent;
                                        size: 64px; 
                                        style: original;
                                        tryToSharpen: true;
                                    "}}
                                </div>
                                <div class="homepage_section_header_title heading_group">
                                    <h3 class="heading-size-5-grey-5">Kayzen-GS</h3>
                                    <h3 class="heading-light-uppercase-brand-4 font-2">Custom grid system</h3>
                                </div>
                            </div>
                            <p class="object-small">One-Nexus is built using a custom grid system: <a target="blank" href="https://github.com/esr360/Kayzen-GS/">Kayzen GS</a>, which is based off <code>inline-block</code> columns.</p>
                        </div>
                        <div class="object-large">
                            <div class="homepage_section_header">
                                <div class="homepage_section_header_icon">
                                    {{> livicon options="
                                        name: touch.svg;
                                        eventOn: grandparent;
                                        size: 64px; 
                                        style: original;
                                        tryToSharpen: true;
                                    "}}
                                </div>
                                <div class="homepage_section_header_title heading_group">
                                    <h3 class="heading-size-5-grey-5">Touch/Swipe Support</h3>
                                    <h3 class="heading-light-uppercase-brand-4 font-2">Optimised for touch devices</h3>
                                </div>
                            </div>
                            <p class="object-small">One-Nexus is touch/swipe ready for mobile touch screen devices for various UI elements such as carousels.</p>
                        </div>
                        <div class="object-large max-break-3">
                            <div class="homepage_section_header">
                                <div class="homepage_section_header_icon">
                                    {{> livicon options="
                                        name: dashboard.svg;
                                        eventOn: grandparent;
                                        size: 64px; 
                                        style: original;
                                        tryToSharpen: true;
                                    "}}
                                </div>
                                <div class="homepage_section_header_title heading_group">
                                    <h3 class="heading-size-5-grey-5">Smooth Performance</h3>
                                    <h3 class="heading-light-uppercase-brand-4 font-2">Optimised for mobile browsing</h3>
                                </div>
                            </div>
                            <p class="object-small">All JavaScript plugins and CSS elements have been built with mobiles in mind, ensuring any animations run smoothly.</p>
                        </div>
                        <div class="object-large min-break-4">
                            <div class="homepage_section_header">
                                <div class="homepage_section_header_icon">
                                    {{> livicon options="
                                        name: dashboard.svg;
                                        eventOn: grandparent;
                                        size: 64px; 
                                        style: original;
                                        tryToSharpen: true;
                                    "}}
                                </div>
                                <div class="homepage_section_header_title heading_group">
                                    <h3 class="heading-size-5-grey-5">Smooth Performance</h3>
                                    <h3 class="heading-light-uppercase-brand-4 font-2">Optimised for mobile browsing</h3>
                                </div>
                            </div>
                            <p class="object-small">All JavaScript plugins and CSS elements have been built with mobiles in mind, ensuring any animations run smoothly.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="homepage_section-kayzengs">

            <img src="{{assets}}assets/images/spacestation/layer13.svg" id="parallax_stardust" class="homepage_section_stardust3 min-break-3" />

            <div class="container">
    
                <div class="homepage_gridSystem min-break-3">
                    <img class="homepage_gridSystem_browser" src="{{assets}}assets/images/chrome-browser.svg" />
                    <div class="wrapper">
                        <div class="row row-stack-0">
                            <div class="span-4"></div>
                            <div class="span-4"></div>
                            <div class="span-4"></div>
                        </div>
                        <div class="row row-stack-0">
                            <div class="span-6"></div>
                            <div class="span-6"></div>
                        </div>
                        <div class="row row-stack-0">
                            <div class="span-9"></div>
                            <div class="span-3"></div>
                        </div>
                        <hr class="divider" />
                        <div class="row row-stack-0">
                            <div class="span-7">
                                <div class="row row-stack-0">
                                    <div class="span-4"></div>
                                    <div class="span-4"></div>
                                    <div class="span-4"></div>
                                </div>
                            </div>
                            <div class="span-5">
                                <div class="row row-stack-0">
                                    <div class="span-6"></div>
                                    <div class="span-6"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-stack-0">
                            <div class="span-2"></div>
                            <div class="span-2"></div>
                            <div class="span-2"></div>
                            <div class="span-2"></div>
                            <div class="span-2"></div>
                            <div class="span-2"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="homepage_section_panel span-7 well-deep-dark-round">
                        <div class="homepage_section_box_heading">
                            <h3 class="heading-size-4-flush">Kayzen-GS</h3>
                            <a 
                                class="github-button" 
                                href="https://github.com/esr360/Kayzen-GS" 
                                data-icon="octicon-star"
                                data-count-href="/esr360/Kayzen-GS/stargazers" 
                                data-count-api="/repos/esr360/Kayzen-GS#stargazers_count" 
                                data-count-aria-label="# stargazers on GitHub" 
                                aria-label="Star esr360/Kayzen-GS on GitHub"
                            >Star</a>
                        </div>
                        <p>Kayzen-GS is a powerful framework for building responsive grid systems. Built using Sass and based off <code class="alt">inline-block</code> columns, Kayzen-GS is a one of a kind framework custom built for One-Nexus.</p>
                        <div class="button_group-stack">
                            <a href="https://github.com/esr360/Kayzen-GS/#documentation" target="blank" class="button-brand-4-size-3">Get Started</a>
                            <a href="https://github.com/esr360/Kayzen-GS/#overview" target="blank" class="button-border-white-size-3">Learn More</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="homepage_section-semanticGrids-codeSample">

            <img src="{{assets}}assets/images/mountain.svg" id="parallax_mountain-2" class="homepage_section_mountain" />

            <div class="container">

                <div class="heading_group object-large text-center">
                    <h3 class="heading-light-size-8 font-2">Creating Semantic Grids</h3>
                    <p>See the below pseudo exampe to see just what's possible with One-Nexus/Kayzen-GS</p>
                </div>

                <div class="row reverse-break-3 row-breathe tabs">
                    <div class="span-8">

                        <div class="tabs_item tabs_item-active">

                            <div class="alert-bar-brand-3">/pages/portfolio/<b>index.html</b></div>

                            <pre><code class="language-markup">
                                &lt;div class="portfolioItem_wrapper">
                                    &lt;div class="portfolioItem">
                                        ...
                                    &lt;/div>

                                    &lt;div class="portfolioItem">
                                        ...
                                    &lt;/div>

                                    &lt;div class="portfolioItem">
                                        ...
                                    &lt;/div>

                                    &lt;div class="portfolioItem">
                                        ...
                                    &lt;/div>
                                &lt;/div>
                            </code></pre>

                        </div>

                        <div class="tabs_item">

                            <div class="alert-bar-brand-3">/modules/<b>_portfolio-items.scss</b></div>

                            <pre class="border"><code class="language-scss">
                                @include module('portfolioItem') {

                                    // Create the semantic row
                                    @include component('wrapper') {
                                        @include row();
                                    }

                                    // Create the semantic columns
                                    @include column((
                                        'width' : (3, 12)
                                    ));

                                }
                            </code></pre>

                        </div>

                        <div class="tabs_item">

                            <div class="alert-bar-brand-3">/dist/one-nexus/<b>app.css</b></div>

                            <pre class="border"><code class="language-css">
                                .portfolioItem,
                                [class*='portfolioItem-'] {
                                    display: inline-block;
                                    vertical-align: top;
                                    margin-left: 3%;
                                    width: 22.75%;
                                }
                                .portfolioItem_wrapper,
                                [class*='portfolioItem_wrapper-'] {
                                    letter-spacing: -1em;
                                    display: table;
                                    width: 100%;
                                }
                                .opera-only :-o-prefocus,
                                .portfolioItem_wrapper,
                                [class*='portfolioItem_wrapper-'] {
                                    word-spacing: -0.43em;
                                }
                                .portfolioItem:first-child,
                                [class*='portfolioItem-']:first-child {
                                    margin-left: 0;
                                }
                                @media (max-width: 940px) {
                                    .portfolioItem,
                                    [class*='portfolioItem-'] {
                                        display: block;
                                        left: auto;
                                        margin-left: 0;
                                        width: 100%;
                                    }
                                }
                            </code></pre>

                        </div>

                    </div>

                    <div class="span-4">
                        <ul class="tabs_nav list-arrow-interactive-alt">
                            <li class="undefined-active">HTML Sample</li>
                            <li>Sass Sample</li>
                            <li>CSS Output</li>
                        </ul>
                        <hr class="hrule-line min-break-3" />
                        <div class="min-break-3">
                            <a href="https://github.com/esr360/Synergy/wiki" target="blank" class="button-block-brand-3">View Full Docs</a>
                            <p><small><i>One-Nexus comes with a bunch of premade modules just like the example shown here!</i> <a href="modules/">View modules</a></small></p>
                        </div>
                    </div>

                </div><!-- /.tabs -->

            </div>

        </div>

        <div class="homepage_section-themes-dotMap">
            <div class="container-full">
                <div class="object-large text-center">
                    <div class="heading_group text-center object-large">
                        <h3 class="heading-light-size-8-grey-5 font-2">The Power of Themes</h3>
                        <p>Change the entire look and feel of your website by creating different themes</p>
                    </div>
                </div>
                <div class="row-flow row-breathe">
                    <div class="span-3 break-3-half">
                        <img class="homepage_layout-green" src="{{assets}}assets/images/layouts/layout-header-alt.png">
                    </div>
                    <div class="span-3 break-3-half">
                        <img class="homepage_layout-royal" src="{{assets}}assets/images/layouts/layout-header-no-bar-topbar.png">
                    </div>
                    <div class="span-3 break-3-half">
                        <img class="homepage_layout-purple" src="{{assets}}assets/images/layouts/layout-header-alt-topbar.png">
                    </div>
                    <div class="span-3 break-3-half">
                        <img class="homepage_layout-ocean" src="{{assets}}assets/images/layouts/layout-left-header.png">
                    </div>
                    <div class="span-3 break-3-half">
                        <img class="homepage_layout-pink" src="{{assets}}assets/images/layouts/layout-header-top.png">
                    </div>
                    <div class="span-3 break-3-half">
                        <img class="homepage_layout-green" src="{{assets}}assets/images/layouts/layout-left-sidebar.png">
                    </div>
                    <div class="span-3 break-3-half">
                        <img class="homepage_layout-blue" src="{{assets}}assets/images/layouts/layout-left-header-topbar.png">
                    </div>
                    <div class="span-3 break-3-half">
                        <img class="homepage_layout" src="{{assets}}assets/images/layouts/layout-menu-alt.png">
                    </div>
                    <div class="span-3 break-3-half">
                        <img class="homepage_layout-ocean" src="{{assets}}assets/images/layouts/layout-right-header.png">
                    </div>
                    <div class="span-3 break-3-half">
                        <img class="homepage_layout-orange" src="{{assets}}assets/images/layouts/layout-right-sidebar.png">
                    </div>
                    <div class="span-3 break-3-half">
                        <img class="homepage_layout-pink" src="{{assets}}assets/images/layouts/layout-topbar.png">
                    </div>
                    <div class="span-3 break-3-half">
                        <img class="homepage_layout-red" src="{{assets}}assets/images/layouts/layout-right-header-topbar.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="homepage_bottom">

            <div class="homepage_section-signoff">
                <div class="container homepage_section_content">
                    <div class="heading_group">
                        <h3 class="heading-size-7-heavy">One Goal, One Solution: One-Nexus.</h3>
                        <h4 class="heading-light-size-4 font-2">Start your next project with One-Nexus to unlock a new way of building</h4>
                    </div>
                    <div class="button_group">
                        <a href="https://github.com/esr360/One-Nexus/wiki/Getting-Started" target="blank" class="button-white-size-4">Get Started</a>
                        <a href="https://github.com/esr360/One-Nexus/wiki" target="blank" class="button-border-white-size-4">Learn More</a>
                    </div>
                </div>
                <div class="animated-particles">
                    <div id="particle-canvas"></div>
                </div>
            </div>

            <div class="homepage_section-social container">
                <div class="heading_group text-center object-large">
                    <h3 class="heading-light-size-8-grey-5 font-2">Share The Love <i class="fa fa-heart"></i></h3>
                    <p>Follow Edmund Reed on Social Media to keep up-to-date with One-Nexus</p>
                    <div class="button_group">
                        <a target="blank" href="https://codepen.io/esr360/" class="button-circle-icon-size-6-codepen">
                            <i class="fa fa-codepen"></i>
                        </a>
                        <a target="blank" href="https://twitter.com/ESR360" class="button-circle-icon-size-6-twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a target="blank" href="https://github.com/esr360" class="button-circle-icon-size-6-github">
                            <i class="fa fa-github"></i>
                        </a>
                        <a target="blank" href="https://dribbble.com/esr360" class="button-circle-icon-size-6-dribbble">
                            <i class="fa fa-dribbble"></i>
                        </a>
                    </div>
                </div>
            </div>

            <footer class="footer-homepage">

                <div class="deviceOutline-invert">
                    <img class="deviceOutline_tablet" src="{{assets}}assets/images/tablet-outline.svg" alt="">
                    <img class="deviceOutline_phone" src="{{assets}}assets/images/phone-outline.svg" alt="">
                    <img class="deviceOutline_miniTablet" src="{{assets}}assets/images/tablet-mini-outline.svg" alt="">
                    <img class="deviceOutline_sidePhone" src="{{assets}}assets/images/phone-outline.svg" alt="">
                </div>

                <div class="footer_wrapper container">
                    <div class="row row-breathe object-large">
                        <div class="homepage_section_box-alt span-4">
                            <div class="homepage_section_box_heading">
                                <h4 class="heading-size-3-flush">Other Projects</h4>
                                <a 
                                    class="github-button"
                                    href="https://github.com/esr360"
                                    data-count-href="/esr360/followers"
                                    data-count-api="/users/esr360#followers"
                                    data-count-aria-label="# followers on GitHub"
                                    aria-label="Follow @esr360 on GitHub"
                                >Follow @esr360</a>
                            </div>
                            <p>Checkout these other open-source projects on Github for more cool, experimental and boundry-pushing front-end tools.</p>
                        </div>
                        <div class="span-8 va-bottom footer_projects">
                            <div class="owl-carousel" id="footerGithubProjects">
                                <section>
                                    <h4 class="footer_heading object-small heading-size-3">Noah</h4>
                                    <p class="object-small">Noah is a boilerplate for compiling front-end web apps using NPM build scripts.</p>
                                    <div class="button_group">
                                        <a class="button-size-2-border-white" href="https://github.com/esr360/Noah" target="blank">Read More</a>
                                        <a class="button-size-2-brand-2" href="https://github.com/esr360/Noah#install" target="blank">Download</a>
                                    </div>
                                </section>
                                <section>
                                    <h4 class="footer_heading object-small heading-size-3">Sass-Boost</h4>
                                    <p class="object-small">A collection of useful Sass functions to enhance your Sass project.</p>
                                    <div class="button_group">
                                        <a class="button-size-2-border-white" href="https://github.com/esr360/Sass-Boost" target="blank">Read More</a>
                                        <a class="button-size-2-brand-2" href="https://github.com/esr360/Sass-Boost#installation" target="blank">Download</a>
                                    </div>
                                </section>
                            </div>
                            <div class="footer_projects_carouselNav">
                                <button class="footer_projects_carouselNav_prev button-circle-icon-size-2-border">
                                    <i class="fa fa-angle-left"></i>
                                </button>
                                <button class="footer_projects_carouselNav_next button-circle-icon-size-2-border">
                                    <i class="fa fa-angle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer_bar">
                    <div class="container text-center">
                        <small>
                            Made with <i class="fa fa-heart"></i> in Manchester/Sydney by <a href="https://twitter.com/ESR360" target="blank">Edmund Reed</a>  <script>document.write(new Date().getFullYear())</script>
                        </small>
                    </div>
                </div>

            </footer>

        </div>
    </div>
</div>

<script async defer src="https://buttons.github.io/buttons.js"></script>