---
layout: core.hbs
header:
    modifiers:
    - fixed
    - hidden
    - dark
scripts:
    - assets/scripts/jquery.stellar.js
parallax: true
Prism: 1.6.0
---

{{> header}}

<div class="homepage_wrapper">

    <div class="spacestation">

        <div class="spacestation_content" data-stellar-ratio="0.2">
            <div class="logo">
                <img src="{{assets}}assets/images/logo-light.png" alt="One Nexus Logo">
            </div>
            <h2 class="spacestation_tagline heading-light-uppercase-size-2">
                A UI Toolkit From Out of This World
            </h2>
        </div>

        <div class="spacestation_layer-stars1"></div>
        <div class="spacestation_layer-stars2"></div>
        <img src="{{assets}}assets/images/spacestation/layer3.svg" data-stellar-ratio="0.05" class="spacestation_layer-planets" />
        <img src="{{assets}}assets/images/spacestation/layer6.svg" class="spacestation_layer-rocket" />
        <img src="{{assets}}assets/images/spacestation/layer4.svg" data-stellar-ratio="0.1" class="spacestation_layer-sun" />
        <img src="{{assets}}assets/images/spacestation/layer5.svg" data-stellar-ratio="0.2" class="spacestation_layer-mountain" />
        <img src="{{assets}}assets/images/spacestation/layer7.svg" data-stellar-ratio="0.25" class="spacestation_layer-beacon" />
        <img src="{{assets}}assets/images/spacestation/layer8.svg" data-stellar-ratio="0.3" class="spacestation_layer-greenland" />
        <img src="{{assets}}assets/images/spacestation/layer9.svg" data-stellar-ratio="0.35" class="spacestation_layer-stardust1" />
        <img src="{{assets}}assets/images/spacestation/layer10.svg" data-stellar-ratio="0.5" class="spacestation_layer-stardust2" />
        <img src="{{assets}}assets/images/spacestation/layer11.svg" data-stellar-ratio="0.55" class="spacestation_layer-ufo" />
        <img src="{{assets}}assets/images/spacestation/layer12.svg" data-stellar-ratio="0.85" class="spacestation_layer-foreground" />
        <img src="{{assets}}assets/images/spacestation/layer13.svg" data-stellar-ratio="1.5" class="spacestation_layer-stardust3" />

    </div>

    <div class="homepage_content">

        <div class="homepage_section1">
            
            <img src="{{assets}}assets/images/mountain.svg" class="homepage_section1_graphic" />

            <div class="container">
                <div class="row">
                    <div class="span-8">
                        <h3 class="heading-size-6">What is One-Nexus?</h3>
                        <p>One-Nexus is a UI toolkit built using the <a href="#">Synergy</a> Sass framework, combined with a custom grid system; <a href="#">Kayzen-GS</a>. Together they form a powerful framework for building responsive websites with a modular and configurable UI. Build upon the default modules and create your own with ease</p>
                        <p class="button_group">
                            <button class="button-border-white-size-3">Get One-Nexus</button>
                            <span class="button_group_item">or</span> <a href="#">Learn More</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="homepage_section2">

            <div class="well-deep container homepage_section2_banner">
                <h4 class="heading-size-4-brand-1 object-small">Free & Open-Source - Hosted on Github</h4>
                <i class="fa fa-github-alt"></i>
                <p class="object-small">One-Nexus is open-source, built using open-source tools. All bugs, issues and feature requests are <a href="#">handled on Github</a>.</p>
            </div>
            
            <div class="container text-center">
                <div class="heading_group">
                    <h3 class="heading-light-size-8 font-2">Why Choose One-Nexus?</h3>
                    <p class="homepage_section2_subHeading">With so many frameworks and libraries out there, what makes One-Nexus different?</p>
                </div>

                <div class="row-block object-large">
                    <div class="span-4 homepage_section2_block">
                        <div class="livicon-evo" data-options="
                            name: responsive.svg;
                            eventOn: parent;
                            size: 130px; 
                            style: lines;
                            tryToSharpen: true;
                            colorsOnHover: custom;
                            strokeColorAction: white;
                            strokeColor: #007b93;
                            drawOnViewport: true
                        "></div>
                        <h4 class="heading-size-3 object-small">Custom Grid System</h4>
                        <p class="object-small">One-Nexus uses <a href="#">Kayzen-GS</a>, a powerful grid system custom built for One-Nexus.
                    </div>
                    <div class="span-4 homepage_section2_block">
                        <div class="livicon-evo" data-options="
                            name: share.svg;
                            eventOn: parent;
                            size: 130px; 
                            style: lines;
                            tryToSharpen: true;
                            colorsOnHover: custom;
                            strokeColorAction: white;
                            strokeColor: #008277;
                            drawOnViewport: true
                        "></div>
                        <h4 class="heading-size-3 object-small">Unique Modules</h4>
                        <p class="object-small">Built using <a href="#">Synergy</a>, One-Nexus offers a unique approach for building modules.
                    </div>
                    <div class="span-4 homepage_section2_block">
                        <div class="livicon-evo" data-options="
                            name: rocket.svg;
                            eventOn: parent;
                            size: 130px; 
                            style: lines;
                            tryToSharpen: true;
                            colorsOnHover: custom;
                            strokeColorAction: white;
                            strokeColor: #161d51;
                            drawOnViewport: true
                        "></div>
                        <h4 class="heading-size-3 object-small">Powerful Theming</h4>
                        <p class="object-small">Create multiple themes by passing different configuration data to modules.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="homepage_section3 container">

            <div class="heading_group text-center">
                <h3 class="heading-light-size-8-grey-5 font-2">Quick & Easy To Use</h3>
                <p>Get up and running in just a few minutes - One-Nexus is simple to set up!</p>
            </div>

        </div>

        <div class="homepage_section4">

            <img src="{{assets}}assets/images/mountain.svg" class="homepage_section5_graphic" />

            <div class="container">

                <div class="heading_group object-large text-center">
                    <h3 class="heading-light-size-8-grey-5 font-2">Creating a Module</h3>
                    <p>See the below pseudo exampe to see just what's possible with One-Nexus</p>
                </div>

                <div class="row tabs">
                    <div class="span-8">

                        <div class="tabs_item active">

                            <div class="alert-bar-info">/modules/objects/header/<b>_header.scss</b></div>

                            <pre class="border"><code class="language-scss">
                                @mixin header($custom: ()) {

                                    // Configuration
                                    $header: config((
                                        'name'    : 'app-header',
                                        'sticky'  : false,
                                        'offset'  : 0,
                                        'bg-color': #444444
                                    ), $custom) !global;

                                    // Module
                                    @include module() {
                                        position: absolute;
                                        top: this('offset');
                                        background: this('bg-color');

                                        @include modifier('fixed') {
                                            position: fixed;
                                            top: 0;
                                        }
                                    }
                                    
                                }
                            </code></pre>

                        </div>

                        <div class="tabs_item">

                            <div class="alert-bar-info">/modules/objects/header/<b>header.js</b></div>

                            <pre class="border"><code class="language-js">
                                $.fn.header = function(custom) {
                                    
                                    var $module = 'app-header';
                                    
                                    // Configuration
                                    var options = $.extend({
                                        sticky : _option($module, 'sticky'),
                                        offset : _option($module, 'offset')
                                    }, custom);
                                        
                                    var header = $(this);

                                    if (options.sticky) {
                                        $(window).on('load scroll', function(e) {
                                            var scroll = $(window).scrollTop();

                                            if (scroll > options.offset) {
                                                header.addClass($module + '-fixed');
                                            } else {
                                                header.removeClass($module + '-fixed');
                                            }
                                        });
                                    }
                                        
                                }
                            </code></pre>

                        </div>

                        <div class="tabs_item">

                            <div class="alert-bar-info">/<b>app.scss</b></div>

                            <pre class="border"><code class="language-scss">
                                // Config
                                ...
                                $theme : 'MyTheme';
                                // Vendor Files
                                ...
                                // Tools
                                ...
                                // Utilities
                                ...
                                // Elements
                                ...
                                // Objects
                                @import 'modules/objects/header/header';
                                ...
                                // Themes
                                @import 'themes/MyTheme/MyTheme';
                                ...
                            </code></pre>

                        </div>

                        <div class="tabs_item">

                            <div class="alert-bar-info">/themes/MyTheme/<b>_MyTheme.scss</b></div>

                            <pre class="border"><code class="language-scss">
                                @if $theme == 'MyTheme' {
                                    // Utilities
                                    ...
                                    // Elements
                                    ...
                                    // Objects
                                    @include header((
                                        'sticky'  : true,
                                        'offset'  : 50px,
                                        'bg-color': black
                                    ));
                                    ...
                                }
                            </code></pre>

                        </div>

                        <div class="tabs_item">

                            <div class="alert-bar-info">/themes/MyTheme/<b>MyTheme.js</b></div>

                            <pre class="border"><code class="language-javascript">
                                $(document).ready(function() {
                                    // Utilities
                                    ...
                                    // Elements
                                    ...
                                    // Objects
                                    $(_appHeader).header({
                                        sticky: false
                                    });
                                    ...
                                });
                            </code></pre>

                        </div>

                        <div class="tabs_item">

                            <div class="alert-bar-info">/templates/partials/<b>header.hbs</b></div>

                            <pre class="border"><code class="language-markup">
                                &lt;header class="app-header">
                                    ...
                                &lt;/header>
                                &lt;!-- For a permanently fixed header: -->
                                &lt;header class="app-header-fixed">
                                    ...
                                &lt;/header>
                            </code></pre> 

                        </div>

                        <div class="tabs_item">

                            <div class="alert-bar-info">/dist/MyTheme/<b>MyTheme.css</b></div>

                            <pre class="border"><code class="language-css">
                                ...

                                .app-header, 
                                [class*="app-header-"] {
                                    position: absolute;
                                    top: 50px;
                                    background: black;
                                }
                                [class*="app-header-"][class*="-fixed"] {
                                    position: fixed;
                                    top: 0;
                                }

                                ...
                            </code></pre> 

                        </div>

                    </div>

                    <div class="span-4">
                        <ul class="tabs_nav list-arrow-interactive">
                            <li class="active">Sass module</li>
                            <li>JS module</li>
                            <li>Import Sass module</li>
                            <li>Include Sass module</li>
                            <li>Include JS module</li>
                            <li>HTML usage</li>
                            <li>CSS Output</li>
                        </ul>
                        <hr class="hrule-line" />
                        <a href="#" class="button-block-brand-3">View Full Docs</a>
                        <p><small><i>One-Nexus comes with a bunch of premade modules just like the example shown here!</i> <a href="#">View modules</a></small></p>
                    </div>

                </div><!-- /.tabs -->

            </div>
        </div>

        <div class="homepage_section5">

            <div class="container">
                <div class="heading_group text-center">
                    <h3 class="heading-light-size-8-grey-5 font-2">More Features...</h3>
                    <p>See the below pseudo exampe to see just what's possible with One-Nexus</p>
                </div>
            </div>
        
        </div>

    </div>

</div>