---
layout: core.hbs
bodyClass: further-page
header:
    modifiers:
    - sticky
billboard:
    heading: <h1 class="heading-size-9-heavy">One-Nexus</h1>
    subHeading: <h3 class="heading-light-size-6">Build something better</h3>
container:
    modifiers:
    - section
breadcrumb: true
---

{{> header}}

{{> side-nav}}

{{#if billboard}}
    {{> billboard}}
{{/if}}

<main class="page-content" id="{{contentID}}">
    {{#if container}}
        <div class="container{{#each container.modifiers}}-{{.}}{{/each}}{{#if wide}}-large{{/if}}">
    {{/if}}

    {{#each notices}}
        <p class="alert-bar-{{type}}">{{#if icon}}<i class="fa fa-{{icon}}"></i>&nbsp; {{/if}}{{text}}</p>
    {{/each}}

    {{#if breadcrumb}}
        {{> breadcrumb}}
    {{/if}}

    {{> body}}

    {{#if container}}
        </div>
    {{/if}}
</main>

{{> footer}}